*/**/class

*/**/.idea

*/**/.metadata/*
*/**/.metadata/
*/**/.metadata

# 3º período
3_periodo/so/trabalho

# 4º período
/4_periodo/poo1/repositorio-de-processos/nbproject/private/

# 5º período
/5_periodo/poo2
/5_periodo/poo2_20171
/5_periodo/poo2_professor
